# Framework API
fastapi
uvicorn[standard]

# Procesamiento de imágenes y video
opencv-python
opencv-contrib-python
numpy
mediapipe

# Machine Learning / Deep Learning
tensorflow
fer  # Reconocimiento de emociones

# Manipulación multimedia
ffmpeg-python
moviepy

# Google API (Drive, OAuth, etc.)
google-api-python-client
google-auth
google-auth-oauthlib
gdown   # Descargar modelos desde Google Drive

# Validaciones y modelos
pydantic
